<h1>Listing <%= pluralize(@players.length, 'player') %></h1>

<table>
  <thead>
    <tr>
      <td>First name</td>
      <td>Last name</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
  <% @players.each do |p| %>
    <tr>
      <td><%= p.first_name %></td>
      <td><%= p.last_name %></td>
      <td>
        <%= link_to  "Show Profile", player_path(p.id) %> |
        <%= link_to  "Edit Profile", player_edit_path(p.id) %> |
<%= link_to  "Delete Player", player_path(p.id), data: {method: :delete, confirm: 'r u sure?'} %>

      </td> 

    </tr>
    <% end %>
  </tbody>
</table>
<br>
<!--<a href="">New Player</a>-->
<!--<%= link_to  "New Player", '/players/new' %>-->
<%= link_to  "New Player", players_new_path %>